body {
    margin: .5rem;
}

#top-navbar {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #ffffff;
}

.list-group-item {
    position: relative;
}

.row_data {
    position: absolute;
    margin-right: 10px;
    right: 0;
    top: 14px;
}

.indent-level-2 {
    padding-left: 2rem;
}

.indent-level-3 {
    padding-left: 4rem;
}

.indent-level-4 {
    padding-left: 6rem;
}

.indent-level-5 {
    padding-left: 8rem;
}

.indent-level-6 {
    padding-left: 10rem;
}

.report-title {
    margin-top: .5rem;
    margin-bottom: .5rem;
    position: sticky;
    top: 48px;
    z-index: 3;
    background-color: #ffffff;
}

.report-year {
    margin-top: 1.5rem;
    position: sticky;
    top: 86px;
}
